if SHIELD_TOTEM_DONGLE
config ZMK_KEYBOARD_NAME
    default "TOTEM"
config ZMK_SLEEP
    default n
config ZMK_SPLIT_ROLE_CENTRAL
    default y
config ZMK_USB
    default y
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y
endif

if SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT
config ZMK_SLEEP
    default y
config ZMK_IDLE_SLEEP_TIMEOUT
    default 1800000
endif

if SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT || SHIELD_TOTEM_DONGLE
config ZMK_SPLIT
    default y
config ZMK_BLE_EXPERIMENTAL_CONN
    default y
config ZMK_POINTING
    default y
endif
